<%- include('header') %>
    <div class="alert alert-info">
        <h3>Üzenetek</h3>
        <p>Ezt az oldalt csak a <strong>Regisztrált látogatók</strong> (és adminok) láthatják.</p>
        <p>Itt lehetne pl. asztalfoglalást leadni.</p>
    </div>
<%- include('footer') %>